#tituloPrincipal{
    color: greenyellow;

}
.parrafos {
    text-align: center;
    color: background;
    font-weight: bold;
        
}

.enfasis {
   background-color:buttonshadow;
   color: green;    
}
a{
    color: #00ffff;
}    
a:hover{
    background-color:green;
    color: white
} 

a:active{
    background-color:red;
    color: black
} 
a:visited{
    font-size: 20px;
} 