* {
    margin: 0;
    box-sizing:  border-box;
}
 
body {
    font-family: arial;
    padding: 45px 20px 0px;
}
 
.header {
    background-color: greenyellow;
    height: 15%;
    top: 0;
    left: 0;
    width: 90%;
    position: fixed;
}
 
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}
 
.nav-link {
    color: lightgray;
    text-decoration: none;
}
 
.logo {
    color: blue;
    font-size: 20px;
    font-weight: 900;
    padding: 0 40px;
    line-height: 90px;
}
 
.nav-menu {
    display: flex;
    margin-right: 45px;
    list-style: none;
}
 
.nav-menu-item {
    font-size: 20px;
    margin: 0 15px;
    line-height: 80px;
    width: max-content;
}
 
.nav-menu-link {
    padding: 10px 15px;
    border-radius: 15px;
}
 
.nav-menu-link:hover {
    font-size: 20px;
    background-color: grey;
    transition: 1s;
}
 
#contenido {
    background-color: red;
    position: fixed;
    top: 70px;
    bottom: 30px;
    left: 0;
    width: 95%;
    overflow: auto;
    padding-left: 10px;
}
 
.footer {
    background-color: greenyellow;
    text-align: center;
    color: black;
    height: 12%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
}
