<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="general/fragmentos.html  :: head"/>
        <title>GimnasioPepe</title>
    </head>
    <body>
        <header th:replace="general/fragmentos :: header"/>
        
        <!-- Portada -->
        <section class="bg-success text-white text-center">
            <div class="container py-5">
                <h1 class="display-3">GimnasioPepe</h1>
                <h2 class="col-md-8 mx-auto">¡Comenzá a entrenar con nosotros!<h2>
                <h5 class="col-md-8 mx-auto">Aprovecha tu primera clase de yoga gratis</h5>
                <a th:href="@{/clase/listado}" class="btn btn-light btn-lg mt-2">Ver clases</a>
            </div>
        </section>
        
        <!-- Clase Yoga -->
        <section>
            <div class="container py-5">
                <h1 class="display-3 text-center">Rutina de Yoga</h1>
                <div class="d-flex justify-content-center">
                    <iframe width="560" height="315" 
                            src="https://www.youtube.com/embed/TDTR9iNWW_0" 
                            title="Clase Yoga" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </section>
        
        <footer th:replace="general/fragmentos :: footer"/>
    </body>
</html>
